In [4]:
import pandas as pd

In [5]:
!pwd

/root/IDL_Project/GNN_for_EHR/rawdata/mimic

In [6]:
patient_info = pd.read_csv("patient.csv")
patient_info.columns

Index(['Unnamed: 0', 'SUBJECT_ID', 'GENDER', 'EXPIRE_FLAG', 'HADM_ID',
       'ICUSTAY_ID', 'LOS', 'AGE', 'cohort', 'Obesity', 'Non.Adherence',
       'Developmental.Delay.Retardation', 'Advanced.Heart.Disease',
       'Advanced.Lung.Disease',
       'Schizophrenia.and.other.Psychiatric.Disorders', 'Alcohol.Abuse',
       'Other.Substance.Abuse', 'Chronic.Pain.Fibromyalgia',
       'Chronic.Neurological.Dystrophies', 'Advanced.Cancer', 'Depression',
       'Dementia', 'Unsure'],
      dtype='object')

In [7]:
len(['EXPIRE_FLAG', 'cohort', 'Obesity', 'Non.Adherence',
       'Developmental.Delay.Retardation', 'Advanced.Heart.Disease',
       'Advanced.Lung.Disease',
       'Schizophrenia.and.other.Psychiatric.Disorders', 'Alcohol.Abuse',
       'Other.Substance.Abuse', 'Chronic.Pain.Fibromyalgia',
       'Chronic.Neurological.Dystrophies', 'Advanced.Cancer', 'Depression',
       'Dementia', 'Unsure'])

16

In [8]:
patient_info

,Unnamed: 0,SUBJECT_ID,GENDER,EXPIRE_FLAG,HADM_ID,ICUSTAY_ID,LOS,AGE,cohort,Obesity,...,Advanced.Lung.Disease,Schizophrenia.and.other.Psychiatric.Disorders,Alcohol.Abuse,Other.Substance.Abuse,Chronic.Pain.Fibromyalgia,Chronic.Neurological.Dystrophies,Advanced.Cancer,Depression,Dementia,Unsure
0,0,9973,M,1,100020,282580,1.1011,58,1,0,...,0,0,0,0,1,1,0,0,0,0
1,1,3365,F,0,100103,200434,3.2836,72,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2,27290,M,1,100137,212691,3.7297,82,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,9882,M,0,100177,251800,6.5389,55,1,0,...,0,0,0,0,0,0,0,0,0,0
4,4,5525,M,1,100473,257484,5.7583,65,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1526,1526,23549,F,1,199807,212087,35.7563,74,1,0,...,1,0,0,0,0,0,0,0,0,0
1527,1527,8772,M,1,199828,215516,4.9366,69,0,0,...,1,0,1,0,0,1,0,0,1,0
1528,1528,7029,M,0,199883,247475,1.2379,26,1,0,...,0,0,1,0,0,0,0,0,0,0
1529,1529,1931,M,1,199884,265365,2.6764,72,1,0,...,0,0,0,0,0,0,0,1,0,0
1530,1530,40370,M,0,199999,211153,3.8411,89,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
len(patient_info)

1531

In [12]:
med_info = pd.read_csv("medication.csv")
med_info.columns

Index(['Unnamed: 0', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'NDC'], dtype='object')

In [13]:
len(med_info)

77721

In [14]:
len(med_info["HADM_ID"].unique())

1375

In [15]:
med_info.head(3)

   Unnamed: 0  SUBJECT_ID   HADM_ID  ICUSTAY_ID          NDC
0           0      9973.0  100020.0    282580.0  781710955.0
1           1      9973.0  100020.0    282580.0          0.0
2           2      9973.0  100020.0    282580.0  904565661.0

In [19]:
proc_info = pd.read_csv("procedure.csv")
proc_info.columns

Index(['Unnamed: 0', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'ICD9_CODE'], dtype='object')

In [20]:
proc_info.head(3)

   Unnamed: 0  SUBJECT_ID  HADM_ID  ICUSTAY_ID  ICD9_CODE
0           0        3365   100103      200434       3523
1           1        3365   100103      200434       3615
2           2        3365   100103      200434       3611

In [24]:
len(proc_info["HADM_ID"].unique())

1334

In [21]:
len(proc_info)

6553

In [5]:
lab = pd.read_csv("lab_final.csv")
lab.columns

Index(['SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'CHART_ITEMID',
       'CHART_VALUENUM'],
      dtype='object')

In [6]:
lab.head(3)

   SUBJECT_ID  HADM_ID  ICUSTAY_ID  CHART_ITEMID  CHART_VALUENUM
0         154   102354      201272      220180.0            62.0
1         154   102354      201272      220181.0            72.0
2         154   102354      201272      220045.0            74.0

In [7]:
len(lab["HADM_ID"].unique())

1478

In [8]:
len(lab["CHART_ITEMID"].unique())

1044

In [2]:
import pandas as pd

lab = pd.read_csv("lab_final.csv")
lab

        SUBJECT_ID  HADM_ID  ICUSTAY_ID  CHART_ITEMID  CHART_VALUENUM
0              154   102354      201272      220180.0       62.000000
1              154   102354      201272      220181.0       72.000000
2              154   102354      201272      220045.0       74.000000
3              154   102354      201272      220210.0       23.000000
4              154   102354      201272      220179.0      104.000000
...            ...      ...         ...           ...             ...
844961       99823   179720      296047      220045.0       73.000000
844962       99823   179720      296047      220179.0      134.000000
844963       99823   179720      296047      220181.0       72.000000
844964        5909   160240      215709         762.0       58.400002
844965       45783   135101      298087      227464.0        5.000000

[844966 rows x 5 columns]

In [6]:
import pandas as pd

lab = pd.read_csv("patient.csv")
lab

,Unnamed: 0,SUBJECT_ID,GENDER,EXPIRE_FLAG,HADM_ID,ICUSTAY_ID,LOS,AGE,cohort,Obesity,...,Advanced.Lung.Disease,Schizophrenia.and.other.Psychiatric.Disorders,Alcohol.Abuse,Other.Substance.Abuse,Chronic.Pain.Fibromyalgia,Chronic.Neurological.Dystrophies,Advanced.Cancer,Depression,Dementia,Unsure
0,0,9973,M,1,100020,282580,1.1011,58,1,0,...,0,0,0,0,1,1,0,0,0,0
1,1,3365,F,0,100103,200434,3.2836,72,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2,27290,M,1,100137,212691,3.7297,82,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,9882,M,0,100177,251800,6.5389,55,1,0,...,0,0,0,0,0,0,0,0,0,0
4,4,5525,M,1,100473,257484,5.7583,65,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1526,1526,23549,F,1,199807,212087,35.7563,74,1,0,...,1,0,0,0,0,0,0,0,0,0
1527,1527,8772,M,1,199828,215516,4.9366,69,0,0,...,1,0,1,0,0,1,0,0,1,0
1528,1528,7029,M,0,199883,247475,1.2379,26,1,0,...,0,0,1,0,0,0,0,0,0,0
1529,1529,1931,M,1,199884,265365,2.6764,72,1,0,...,0,0,0,0,0,0,0,1,0,0
1530,1530,40370,M,0,199999,211153,3.8411,89,0,0,...,0,0,0,0,0,0,0,0,0,0